@font-face {
    font-family: Roboto;
    src: url('assets/fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto';
    background-color: black;
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    background-image: url('assets/img/forest.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    height: calc(100vh - 120px);
    background-size: cover;
}

/* Header styles start */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
}

.logo {
    width: 50px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

/* Header styles end */

/* Main styles start */

.main-container {
    display: flex;
    justify-content: center;
}

.play-btn {
    margin: auto auto;
    width: 160px;
    height: 160px;
}

/* Main styles end */

/* Footer styles start */

.footer-container {
    padding: 0 70px;
}

/* Footer styles end */