body {
    background-color: black;
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    background: url('assets/img/forest.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}